.container
  .row
    .col-md-6.col-md-offset-3
      = render "shared/messages"
      .sign-up.bg-white
        .sign-up-title
          Change your user name
        .sign-up-body
          = form_for(current_user, class: 'sign_up') do |f|
            .form-group
              = f.text_field :name, placeholder: 'Name', class: 'form-control'
            = f.submit 'Update', class: 'btn btn-success'
